<ion-app>
  <!-- Side Menu -->
  <ion-menu contentId="main-content" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item *ngFor="let p of menuPages" (click)="handleMenuClick(p)">
          <ion-icon [name]="p.icon" slot="start"></ion-icon>
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Main Layout: Tabs + Router -->
  <ion-split-pane contentId="main-content">
    <ion-router-outlet id="main-content"></ion-router-outlet>

    <!-- Bottom Tab Bar -->
    <ion-tabs *ngIf="tabPages.length > 0">
      <ion-tab-bar slot="bottom">
        <ion-tab-button *ngFor="let tab of tabPages" [tab]="tab.tab">
          <ion-icon [name]="tab.icon"></ion-icon>
          <ion-label>{{ tab.title }}</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-split-pane>
</ion-app>
